.sticky-bottom{
  position: fixed;
  bottom: 0px;
  right: 0;
  left: 0;
  text-align: center;
  background-color: white;
  padding: 40px 10px 10px 10px;

}
button{
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
}
